<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Date: <%= f.text_field :date %></br>
    Friends: <%= f.fields_for :friends do |friends_fields| %>
      <%= friends_fields.text_field :event #not sure if this is right%> 
      <% end %>
      
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
